@import '../../node_modules/antd/dist/antd.css';

html,
body,
#app {
  height: 100%;
  font-family: 'Bradley Hand', "Segoe UI", "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  overflow: hidden;
}